<!doctype html>
<html ng-app='imgur' class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>imgur-api</title>
  <meta name="description" content="A simple api tool">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

<div ng-controller='ApiController as api' 
  class='imgur-api-app container'>

  <header>
    <img src='img/imgur.png' class='imgur-logo'/>
    <h1>API explorer</h1>
  </header>

  <form name='api-form' class="form-inline" ng-submit='get()'>
    <h3>{{url}}</h3>
    <div class="form-group">

      <span>section</span>
      <select ng-model="section" class="form-control" title="section">
        <option value='hot'>hot</option>
        <option value='top'>top</option>
        <option value='user'>user</option>
      </select>
      <span>sort</span>
      <select ng-model="sort" class="form-control" title="sort">
        <option value='time'>time</option>
        <option value='viral'>viral</option>
        <option value='top'>top</option>
      </select>
      <span>window</span>
      <select ng-model="window" class="form-control" title="window">
        <option value='day'>day</option>
        <option value='week'>week</option>
        <option value='month'>month</option>
        <option value='year'>year</option>
        <option value='all'>all</option>
      </select>           
      <span>page</span>
      <input ng-model='page' class='form-control' type='text'/>

    </div>
    <button type="submit" class="btn btn-primary">GET</button>
  </form>

  <hr/>

  <div class='data-container'>
    <table class='table table-striped table-condensed'>
      <thead>
        <tr>
          <th>id</th>
          <th>datetime</th>
          <th>title</th>
          <th>comments</th>
          <th>ups</th>
          <th>downs</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="image in data | orderBy:'datetime'">
          <td>{{image.id}}</td>
          <td>{{image.datetime * 1000 | date:'short'}}</td>
          <td>{{image.title}}</td>
          <td>{{image.comment_count}}</td>
          <td>{{image.ups}}</td>
          <td>{{image.downs}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="js/imgur.js"></script>
<script src="js/api.js"></script>

</body>
</html>
