
<h3>url: {{url}}</h3>

<form name='api-form' class="form-inline" ng-submit='get()'>
  <div class="form-group">

    <span>sort</span>
    <select ng-model="sort" class="form-control" title="sort">
      <option value='time'>time</option>
      <option value='viral'>viral</option>
      <option value='top'>top</option>
    </select>
    <span>window</span>
    <select ng-model="window" class="form-control" title="window">
      <option value='day'>day</option>
      <option value='week'>week</option>
      <option value='month'>month</option>
      <option value='year'>year</option>
      <option value='all'>all</option>
    </select>           
    <span>page</span>
    <input ng-model='page' class='form-control' type='text'/>

  </div>
  <button type="submit" class="btn btn-primary">GET</button>
</form>

